{
  "extends": ["@poool/eslint-config/common"],
  "env": {
    "browser": true,
    "es6": true
  },
  "overrides": [
    {
      "files": ["tests/**/*.js"],
      "parser": "babel-eslint",
      "env": {
        "browser": true,
        "es6": true,
        "mocha": true
      },
      "plugins": [
        "mocha"
      ],
      "rules": {
        "no-unused-expressions": 0
      }
    }
  ]
}
