name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  lint:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 22
          check-latest: true
          cache: yarn
      - name: Install deps
        run: yarn install
      - name: Eslint check
        run: yarn lint
      - name: Types check
        run: yarn tsc

  build:
    name: Building
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 22
          check-latest: true
          cache: yarn
      - name: Install deps
        run: yarn install
      - name: Build
        run: yarn build

  test:
    name: Unit tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        browser: [chrome, firefox]
    timeout-minutes: 10
    env:
      BROWSER: ${{ matrix.browser }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 22
          check-latest: true
          cache: yarn
      - name: Install deps
        run: yarn install
      - name: Download firefox
        if: matrix.browser == 'firefox'
        run: npx puppeteer browsers install firefox
      - name: Test
        run: yarn test
      - name: Codecov upload
        uses: codecov/codecov-action@v5.5.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
